:root {
    --color-dark: #2d2d2d;

    --color-light: #ffffff;
    --color-light-10: #e3e3e3;

    --color-gray: #878787;

    --color-accent: #ba3737;

    --font-family: Verdana, Tahoma, sans-serif;

    --transition-duration: 0.2s;
}
